<h1>Current listings</h1>

<% @listings.each do |listing| %>
  <% if @current_user.is_admin? %>
    <p>
      <%= link_to listing.address, listing  %> <%= listing.suburb %>
      <% if listing.available? %>
        available
      <% else %>
        not available
      <% end %>
    </p>
  <% else %>
    <% if listing.available? %>
      <p><%= link_to listing.address, listing  %> <%= listing.suburb %></p>
    <% end %>
  <% end %>
<% end %>

<p1><%= link_to 'Add New Listing', new_listing_path %></p1>
