<h1>Current listings</h1>

  <p>
    <%= label_tag 'Select Suburb:' %>
    <%= select_tag 'Suburb', options_for_select(@suburbs, @suburbs[0]), :class => 'select' %>
    <%= button_tag 'Search', :class => 'listingSearch' %>
  </p>

<% @listings.each do |listing| %>
  <% if @current_user.is_admin? %>

      <%= content_tag :p, class: "All #{listing.suburb}" do %>
        <%= link_to listing.address, listing %> <%= listing.suburb %>
        <% if listing.available? %>
          available
        <% else %>
          not available
        <% end %>
      <% end %>
  <% else %>
    <% if listing.available? %>
      <%= content_tag :p, class: "All #{listing.suburb}" do %>
        <%= link_to listing.address, listing %> <%= listing.suburb %>
      <% end %>

    <% end %>
  <% end %>
<% end %>

<p1><%= link_to 'Add New Listing', new_listing_path %></p1>
