<div class="content">

  <p class="font1 lineabove">Edit User</p>
  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>
  <p class="col-lg-10 blurb">Make your profile look more attractive to someone you might end up living with! <br>
  Add a link to your Facebook or Twitter accounts so people can see that you're not a robot, and upload a picture of yourself if you feel like it. Potential renters will be more likely to contact you if they think you actually exist!</p>
  </div>

  <%= form_for @user, html:{multipart: true} do |f| %>
      <div class="row">
        <%= f.label :email, :class => 'col-lg-4' %>
        <%= f.email_field :email, :class => 'col-lg-6' %>
      </div>

      <div class="row">
        <%= f.label :image, 'Upload a profile picture', :class => 'col-lg-4' %>
        <%= f.file_field :image, :class => 'col-lg-6' %>
      </div>

      <div class="row">
        <%= f.label :first_name, :class => 'col-lg-4' %>
        <%= f.text_field :first_name, :class => 'col-lg-6' %>
      </div>

      <div class="row">
        <%= f.label :surname, :class => 'col-lg-4' %>
        <%= f.text_field :surname, :class => 'col-lg-6' %>
      </div>

      <div class="row">
        <%= f.label :phone, :class => 'col-lg-4' %>
        <%= f.text_field :phone, :class => 'col-lg-6' %>
      </div>

      <div class="row">
        <%= f.label :social_media, :class => 'col-lg-4' %>
        <%= f.url_field :social_media, :class => 'col-lg-6' %>
      </div>

      <div class="row">
        <div class="col-lg-4"></div>
        <%= f.submit :class => 'col-lg-6' %>
      </div>

    </div>
  <% end %>
</div>
