<% if @user == @current_user %>
  <%= image_tag @user.image, :class => 'thumb' %>
  <h2>Your details are:</h2>
  <p>Name: <%= @user.first_name %> <%= @user.surname %></p>
  <p></p>

  <% if @user.listings.present? %>
    <p>Your current listings are:</p>
    <% @listings.each do |listing| %>
      <% if listing.user == @current_user %>
        <p><%= listing.address %>, currently
            <% if listing.available == true %>
              available
            <% else %>
              unavailable
            <% end %>
            <%= link_to 'View', listing_path(listing) %>
            <%= link_to 'Edit', edit_listing_path(listing) %>
            <%= link_to 'Delete', listing_path(listing), :method => :delete %></p>
      <% end %>
    <% end %>
  <% end %>

  <p>Create a new listing by clicking <%= link_to 'here', new_listing_path %></p>


<% else %>
  <%= image_tag @user.image, :class => 'thumb' %>
  <p>Landlord name: <%= @user.first_name %></p>
  <p>Landlord email: <%= @user.email %></p>
  <p>Landlord phone: <%= @user.phone %></p>
  <p>Social media link: <%= @user.social_media %></p>



<% end %>
